body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imagens{
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 5vw;
}

.first{
  margin-bottom: 5%;
  padding-top: 5%;
}

.title{
  font-size: 25px;
  font-family: Helvetica;
  font-weight: 750;
  color: #636060;
}

.subtitle{
  font-size: 14px;
  margin-top: 50px;
  font-family: Helvetica;
  color: white;
  background-color: #f90355;
  border-radius: 20px;
  padding: 2%;
  font-weight: 700;
}